$root-font-family: "Aller W01", sans-serif;
@import "../../node_modules/sanitize.css/sanitize.scss";

$transparentBg: rgba(245, 245, 245, 0.55);
$boxPadding: 20px;

// ======================
// GLOBAL
// ======================
a {
  color: inherit;
}

section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &.drawer {
    min-height: auto;
  }
}

h2 {
  font-size: 1.2em;
  margin-bottom: 0.5em;

}

// ======================
// GENERIC
// ======================
.bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &--gif {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }
  &--video {
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
      width: auto;
      height: auto;
    }
  }
}

.container {
  width: 68%;
  margin: 50px auto;
  position: relative;
  z-index: 2;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  flex: 1;
}

.box {
  background: $transparentBg;
  border: 1px solid transparentize($transparentBg, 0.3);
  padding: $boxPadding;
  margin: 0 auto;
  margin-bottom: 1.5em;
  position: relative;
  z-index: 1;
  p + p {
    padding-top: 1.5em;
  }
  ul {
    list-style-position: inside;
  }
  h3 {
    padding: 1.5em 0;
  }
  &.transparent {
    border: 0;
    background: none;
  }
}

.hidden {
  display: none;
}

// ======
// HEADER
// ======
header {
  #logo, nav {
    position: fixed;
    z-index: 3;
    top: 30px;
  }
  #logo {
    right: 30px;
    width: 22%;
    text-align: right;
    img {
      width: 100%;
      max-width: 200px;
    }
  }
  nav {
    left: 30px;
    li {
      margin-bottom: 2px;
    }
    a {
      font-size: 1.2em;
      font-weight: lighter;
      padding: 2px 6px;
      display: inline-block;
      background: $transparentBg;
      color: #000;
      &:hover {
        background: darken($transparentBg, 10);
      }
      &.active {
        font-weight: bold;
      }
    }
  }
}

// ======
// HEADER
// ======
footer {
  position: fixed;
  z-index: 3;
  background: rgba(0, 0, 0, .8);
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 15px;
  color: white;
  font-size: 0.8em;
  .disclaimer {
    color: gray;
  }
}

// ==================
// ABOUT/HOME SECTION
// ==================
#home {
  align-items: flex-end;
  .box {
    width: 50%;
    margin-left: 0;
    margin-bottom: 5vh;
  }
}

// ===============
// CONTACT SECTION
// ===============
#contact {
  color: white;
  overflow: auto;
  iframe {
    float: right;
    width: 350px;
    max-width: 100%;
    height: 350px;
  }
}

//
// PEOPLE SECTION
//
#people {
  .box {
    width: 50%;
    margin-left: 0;
  }
}

//
// TEAM SUBSECTION
//
#team {
  background: white;
  .container {
    margin-bottom: 50px;
  }
  h2 {
    padding: $boxPadding;
  }
  .people {
    display: flex;
  }
  .person {
    img {
      width: 100%;
    }
  }
}

// ============
// WORK SECTION
// ============
#work {
  color: white;
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .project {
    width: 24%;
    text-align: center;
    a {
      color: inherit;
    }
    img {
      max-width: 100%;
    }
    figcaption {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 3px solid #cc0000;
    }
  }
}

// ===============
// CLIENTS SECTION
// ===============
#clients {
  .logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .logo {
    max-height: 200px;
    margin-top: 20px;
    width: 20%;
    text-align: center;
    img {
      max-width: 80%;
    }
  }
}

// ===============
// CASE STUDY PAGE
// ===============
#case-study {
  font-size: 0.9em;
  .download-case-study {
    color: black;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    float: right;
  }
  .row {
    align-items: flex-start;
  }
  figure.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// ======================
// RESPONSIVE ADJUSTMENTS
// ======================
@media (max-width: 720px) {
  body {
    font-size: 0.9em;
  }
  header {
    nav {
      top: auto;
      z-index: 4;
      bottom: 0;
      left: 0;
      right: 0;
    }
    ul {
      -webkit-backdrop-filter: blur(10px);
      background: darken($transparentBg, 30);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        flex: 1;
        border-left: 1px solid rgba(0, 0, 0, .1);
        &:first-child {
          border: 0;
        }
      }
      a {
        text-align: center;
        display: block;
        font-size: 1em;
        padding: 15px 0;
      }
    }
    #logo {
      top: 50px;
      max-width: 100px;
    }
  }
  #contact iframe {
    margin-top: 1.5em;
    width: 100%;
  }
  #work .project {
    margin-bottom: 50px;
    width: 80%;
  }
  #team .people {
    flex-wrap: wrap;
    text-align: center;
  }
  #team .person {
    flex: 50%;
  }
  #clients .logo {
    width: 33.33%;
  }
  .container {
    width: 94%;
  }
  .row {
    flex-wrap: wrap;
  }
  .col {
    flex: 100%;
  }
  .box {
    width: 100% !important;
  }
  footer {
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
    top: auto;
    bottom: auto;
  }
}
